@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes progress-bar {
  from { width: 0; }
  to { width: 62%; }
}
.animate-progress-bar {
  animation: progress-bar 2s cubic-bezier(0.4,0,0.2,1) forwards;
}
